{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block stylesheet %}
{{ block.super }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css"
      rel="stylesheet">
{% endblock stylesheet %}

{% block title %}{{ block.super }}Profile{% endblock title %}

{% block content %}
<div class="grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-title font-weight-bold">Profile</p>
            <hr>
            <p class="card-description">User Information</p>
            <ul class="about">
                <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
                        class="about-item-name">Name:</span><span
                        class="about-item-detail">{{ user.get_full_name }}</span><a
                        class="about-item-edit" href="{% url 'update_profile' %}">Edit</a></li>
                <li class="about-items"><i class="mdi mdi-mail-ru icon-sm "></i><span
                        class="about-item-name">Email:</span><span class="about-item-detail">{{ user.email }}</span> <a
                        class="about-item-edit" href="{% url 'chane_email' %}">Edit</a></li>
                <li class="about-items"><i class="mdi mdi-lock-outline icon-sm "></i><span class="about-item-name">Password:</span><span
                        class="about-item-detail">**********</span> <a class="about-item-edit" href="{% url 'password_change' %}">Edit</a></li>


            </ul>
            <p class="card-description">Contact Information</p>
            <ul class="about">
                <li class="about-items"><i class="mdi mdi-phone icon-sm "></i><span
                        class="about-item-name">Phone:</span><span
                        class="about-item-detail">{{ user.whatsapp }}</span><a
                        class="about-item-edit" href="{% url 'update_profile' %}">Edit</a></li>
                <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i><span class="about-item-name">Address:</span><span
                        class="about-item-detail">{{ user.city.governorate }}-{{ user.city }}-{{ user.address }}</span>
                    <a class="about-item-edit"
                       href="{% url 'update_profile' %}">Edit</a>
                </li>

                <li class="about-items"><i class="mdi mdi-web icon-sm "></i><span
                        class="about-item-name">Social:</span><span class="about-item-detail">

                {% if user.facebook %}
                <a class="btn2" href="{{ user.facebook }}">
                    <i class="fab fa-facebook-f"></i>
                </a>
                {% endif %}

                   {% if user.twitter %}

                <a class="btn2" href="{{ user.twitter }}">
                    <i class="fab fa-twitter"></i>
                </a>
                      {% endif %}

                    {% if user.instagram %}

                <a class="btn2" href="{{ user.instagram }}">
                    <i class="fab fa-instagram"></i>
                </a>
                     {% endif %}


                      {% if user.google %}
                <a class="btn2" href="{{ user.google }}">
                    <i class="fab fa-google"></i>
                </a>
                     {% endif %}
                    {% if user.youtube %}
                <a class="btn2" href="#">
                    <i class="fab fa-youtube"></i>
                </a>
{% endif %}

                </span>
                    <a class="about-item-edit" href="{% url 'update_profile' %}">Edit</a></li>
            </ul>
            <p class="card-description">Basic Information</p>
            <ul class="about">
                <li class="about-items"><i class="mdi mdi-cake icon-sm "></i><span
                        class="about-item-name">Birthday:</span><span
                        class="about-item-detail">{{ user.birth_date }}</span><a
                        class="about-item-edit" href="{% url 'update_profile' %}">Edit</a></li>
                <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
                        class="about-item-name">Gender:</span><span class="about-item-detail">{{ user.gender }}</span>
                    <a class="about-item-edit"
                       href="{% url 'update_profile' %}">Edit</a>
                </li>
                <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span class="about-item-name">Specialist:</span><span
                        class="about-item-detail">{{ user.specialist }}</span> <a class="about-item-edit"
                                                                                  href="{% url 'update_profile' %}">Edit</a></li>
                  <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span class="about-item-name">Job Title:</span><span
                        class="about-item-detail">{{ user.job_title }}</span> <a class="about-item-edit"
                                                                                  href="{% url 'update_profile' %}">Edit</a></li>
            </ul>


        </div>
    </div>
</div>


{% endblock content %}
<p><strong>date_create: </strong>{{ user.date_create }}</p>