{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome, {{ user.get_full_name }}. you are logging in.</p>
<p><a href="{% url 'logout' %}?next={% url 'signup' %}">logout.</a></p>
{% else %}
<h2>Sign up</h2>
<form data-cities-url="{% url 'ajax_load_cities' %}" enctype="multipart/form-data" id="register_form" method="POST"
      novalidate>
    {% csrf_token %}
    {{ form.email|as_crispy_field }}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div> <!--name-->
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.password1|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.password2|as_crispy_field }}
        </div>
    </div> <!--passwords-->
    {{ form.avatar|as_crispy_field }}
    {{ form.gender|as_crispy_field }}
    {{ form.birth_date|as_crispy_field }}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.specialist|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.job_title|as_crispy_field }}
        </div>
    </div> <!--title-->
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.governorate|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.city|as_crispy_field }}
        </div>
    </div> <!--gov & city-->
    {{ form.address|as_crispy_field }}
    {{ form.whatsapp|as_crispy_field }}
    {{ form.facebook|as_crispy_field }}
    {{ form.youtube|as_crispy_field }}
    {{ form.twitter|as_crispy_field }}
    {{ form.google|as_crispy_field }}
    {{ form.instagram|as_crispy_field }}


    <button type="submit">Sign up</button>
</form>
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- Script for ajx filter -->
<script src="{% static 'js/govcity.js' %}"></script>
<script>

$("#id_password1").keypress(checkpass);
function checkpass(){
var pass = $(this).val();
if (pass.length < 8 ){
$("#hint_id_password1").removeClass("text-muted");
$("#hint_id_password1").removeClass("text-success");
$("#hint_id_password1").addClass("text-danger");
} else {
$("#hint_id_password1").removeClass("text-muted");
$("#hint_id_password1").removeClass("text-danger");
$("#hint_id_password1").addClass("text-success");

}
console.log(pass.length)
}
</script>
{% endblock javascript %}