{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<h2>Update Profile</h2>
<form data-cities-url="{% url 'ajax_load_cities' %}" enctype="multipart/form-data" id="register_form" method="POST" novalidate>
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div> <!--name-->
    {{ form.gender|as_crispy_field }}
    {{ form.birth_date|as_crispy_field }}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.specialist|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.job_title|as_crispy_field }}
        </div>
    </div> <!--title-->
            <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.governorate|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.city|as_crispy_field }}
            </div>
        </div> <!--gov & city-->
        {{ form.address|as_crispy_field }}
         {{ form.whatsapp|as_crispy_field }}
        {{ form.facebook|as_crispy_field }}
        {{ form.youtube|as_crispy_field }}
        {{ form.twitter|as_crispy_field }}
        {{ form.google|as_crispy_field }}
        {{ form.instagram|as_crispy_field }}


    <button type="submit">Sign up</button>
</form>
{% endblock %}

    {% block javascript %}
   {{ block.super }}
<!-- Script for ajx filter -->
<script src="{% static 'js/govcity.js' %}"></script>
    {% endblock javascript %}